/* Estilos generales del footer */
.footer {
    position: fixed; /* Mantener el footer en la parte inferior */
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.968);
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /*Asegura que el footer esté por encima de otros elementos*/
}

/* Mostrar el footer cuando se hace scroll hasta el final */


/* Ocultar el footer cuando no se hace scroll hasta el final */


/* Mostrar el footer al pasar el ratón por encima */


.text {
    color: aliceblue;
}

.icon i {
    color: aliceblue;
}

/* Asegurarse que el hover no interfiera en pantallas táctiles */

