
.infoSection {
    position: relative;
    width: 100%;
    padding-top: 440px;
    padding-bottom: 20px;
}

.cardSection {
   text-align: center;
    width: 100%;
}

.card-body-section {
    padding: 20px;
}

.img-fluid-section {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .infoSection {
        padding-top: 640px;
    }

    .card-body-section {
        padding: 15px;
    }


}

@media (max-width: 425px) {
    .infoSection {
        padding-top: 650px;
    }




}