.passResetRequ{
    display: flex;
    justify-content: center;
    align-items: start;

}
.btn-resetPass{
    background-color: #F2C94C;
    border-radius: 8px;
    width: 100%;
    font-weight: 800;
}
