.passReset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

}
.btn-login{
    background-color: #F2C94C;
    border-radius: 8px;
    width: 100%;
    font-weight: 800;
}
