/* Estilos generales para el formulario */
.container-login {
    padding-bottom: 100px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: transparent;
}

/* Ajuste del formulario para dispositivos móviles */
@media (max-width: 768px) {
    .container-login {
        padding-bottom: 150px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .card {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .col-12.col-md-6 {
        max-width: 95%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }

    .container-login {
        padding-bottom: 130px; 
    }
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

/* Elimina cualquier margen extra en el cuerpo del documento */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    padding: 0 15px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}
